{% extends 'base.html' %}
{% load static %}

{% block title %}Bienvenido - Error Pages{% endblock %}

{% block contenido %}
<!-- TopAppBar -->
<main class="flex-1 flex flex-col items-center justify-center px-6 py-12 max-w-md mx-auto w-full">

    <div class="container">
        <h1>Carreras</h1>

        <div class="col" id="carrerasContainer">
            <div class="row" id="carreras">


            </div>
        </div>
    </div>

    <script src="{% static 'js/onePage.js' %}"></script>
</main>
{% endblock %}